.bg-dark {
    background-color: #014996!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(25, 0, 253);
}

.brandName{
    color: rgb(255, 255, 255)
}

.navbar-brand img{
    padding-right: 0;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 0;
}