.container{
    background-color:rgb(88, 171, 241);
    text-align: center;
    padding-bottom: 40px;
}

.container a{
    color: rgb(248, 186, 14);
    padding-bottom: 4px;
    font-size: 20px;

    font-weight: 700;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.firstCol{
    /* background-color: black; */
    margin-left: 1%;
}



.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
    background-color: aqua;
}

h3{
    color: yellow;
    /* margin-left: 10vw; */
    margin-top: 5vh;
    vertical-align: center;
    font-weight: 600;
}


h2{
    color: rgb(255, 255, 255);
    padding-top: 5vh;
    font-weight: 600;
    text-align: center;
}

h4{
    /* margin-left: 10vw; */
    color: rgb(255, 255, 255);
    margin-top: 10px;
    
    line-height: 15px;
    font-size:20px;
}

h5{
    color: white;
    font-weight: 600;
}

strong{
    font-weight: 800;
    font-size: 10vw;
    color: white;
    
    /* margin-left: 10vw; */
    display: block;
    line-height: 1;
    /* margin-inline-start: 0px;
    margin-inline-end: 0px; */
    text-align: center;
    
}

body{
    text-align: center;
}

.container-fluid{
    background: rgb(87, 172, 241);
    background: -webkit-linear-gradient(to right, #de6161,#2657eb);
    background: linear-gradient(to right, #de6161, #2657eb);
    margin-right: 0px;
}

.aboutRow .container-fluid{
    background-color: rgb(255, 255, 255);
}



.card-img-top{
    
    text-align: center;
    justify-content: center;
    display: flex;
}

.container h2{
    font-size: 40px;
}

img{
    
    padding-top: 20px;
    padding-bottom: 20px;
    /* padding-left: 20px;
    align-self: center; */
}



.nameBlock{
    vertical-align: middle;
    margin-top: auto;
    margin-bottom: auto;
}



p{
    color: white;
    text-align: justify;
}


.portfolio{
    background-color:rgb(88, 171, 241);
    background: -webkit-linear-gradient(to right,#00b4db, #014d94);
    background: linear-gradient(to right, #00b4db, #014d94);
}

.portfolio h2{
    /* background-color:black; */
    text-align: center;
    color: beige;

}

.portfolio h3{
    /* background-color:black; */
    text-align: left;
    margin-left: 10px;
    color: beige;
    font-size: 35px;

}

.portfolio ul{
    /* background-color:black; */
    margin-left: 0;
    text-align: left;
    color: beige;
    font-size: 22px;

}

.portfolio a{
    color: rgb(255, 196, 0);
    font-weight: 600;
    
    
}

